.card {
  width: 100%;
  text-align: center;
}
.textbox {
  max-width: 70%;
  max-height: 1500px;
  font-size: 17.5px;
  /* background-color: rgb(255, 255, 255, 0.5); */
  text-align: left;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.flex {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}
