html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* needed for container min-height */
  /* background: gray; */

  /* font-family: arial, sans-serif;
  font-size: small;
  color: #666; */
}

main {
  flex: 1 0 auto;
}
.centerfot {
  padding-bottom: 15px;
}
.nav-wrapper {
  display: flex;
  background-color: #303030;
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  z-index: 1030;
}
.hide-on-med-and-down a:hover:not(.active) {
  background-color: rgba(0, 128, 255, 0.9);
}
/* .sidenav {
  margin-top: 56px;
  font-size: bold;

} */
p {
  width: 100%;
}
.hide-on-med-and-down a:hover:not(.active) {
  background-color: #1976d2;
  /* color: white; */
}
.sidenav {
  background-color: #dcdcdc;
  font-size: 20px;
  margin-top: 56px;
  font-size: bold;
}

/* .nav a {
  color: white;
  padding: 18px;
  text-decoration: none;
  float: left;
}
.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #303030;
}  */
